{{#if person}}
<h2>{{person.name}}</h2>
{{else}}
<h2>That person couldn't be found!</h2>
{{/if}}
<h2>Update information</h2>
<form action="/people/{{ person.name }}?_method=put" method="post">
  <input type="text" name="person[name]" value="{{ person.name }}">
  <input type="text" name="person[location]" value="{{ person.location }}">
  <input type="submit" value="update">
</form>

<h2>Remove a Person</h2>
<form method="post" action="/people/{{ person.name }}?_method=delete" type="submit">
<button>Remove</button>
</form>